<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Petition</title>
</head>
<body> 
    <div class="wrapper">
        {{>navbar}}
        {{#if messages.error}}
          <div class="alert alert-warning fade in n-m text-center u-text-center">
            {{ messages.error}}
          </div>
        {{/if}}
          
        {{{body}}}
        <footer>&copy Osiname oludamilola</footer>
    </div> 
    <script src='/javascript/index.js'></script> 
</body>
</html>