<main class="home">
	<div class='image'></div>
	<section class='details'>
        <div class='section-content'>
            <h2>Make Education Free for All</h2>
            <p>All kids deserve equal educational opportunities, no matter who they are or what they look like. Everyone is equal. Treat them the same.</p>
            <form action="/petition" method="POST">
                <ul id="form-errors">
                    {{#if error}}
                        <li style="list-style: none;">{{ error }}</li>
                    {{/if}}
                </ul>
                <div class="input-group">
                    <div>
                        <label for="firstName">First Name: </label>
                        <input type="text" id="firstName" name='firstName' placeholder='First Name' class='textField'>
                    </div>
                    <div>
                        <label for="lastName">Last Name: </label>
                        <input type="text" id="lastName" name='lastName' placeholder='Last Name' class='textField'>
                    </div>
                </div>
                <div>
                    <label for="signature">Signature:</label>
                    <input type="text" id="signature" name='signature' class='textField signature'>
                </div>
                <canvas id="draw" width="700" height="100"></canvas>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" value="Sign this" class="sumbit-btn">
            </form>
        </div>
    </section>
</main>
<script src='/javascript/index.js'></script>