<main class='registration'>
    <div class='signup-content'>
        <p>A world with education is within reach but we won't get there without your support.</p>
        <p>Join our campaign team today!</p>
        <form action="/registration" method="POST" id="registration-form">
                <div class="registration-errors">
                    <ul id="form-errors">
                        {{#if error}}
                            <li style="list-style: none;">{{ error }}</li>
                        {{/if}}
                    </ul>
                </div>
            <div>
                <div class="form-group">
                    <label for="firstName">First Name: </label>
                    <input type="text" id="firstName" name='firstName' placeholder='First Name' class='form-control'>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name: </label>
                    <input type="text" id="lastName" name='lastName' placeholder='Last Name' class='form-control'>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name='email' placeholder='Email Address' class='form-control'>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" id="password" name='password' placeholder='Password' class='form-control'>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="submit" value="Register" class="signup-btn">
            <p>Already have an account? <a href="/login">Log In</a></p>
        </form>
    </div>
    <div class='reg-image'></div>
</main>