<main class="signers content">
    <p>We the undersigned demands that Education be make free for all</p>
   {{#signers}}
        <p>{{capitalize this.first_name}} {{capitalize this.last_name}}</p>
   {{/signers}}
</main>