<main class='content'>
    <h3>Thank you for signing our petition to make Education free for all!</h3>
    <p>It's our believe that this will create opportunity for every child. Education helps in human wellness and enables one to function effectively in the world.</p>
    <img src="{{signature}}" alt="signature" >
    {{id}}
    <a href='/signers'>See all {{total}} other signers</a>
</main>